<server description="new server">

    <!-- Enable features -->
    <featureManager>
       <feature>jsp-2.2</feature>
        <feature>webProfile-6.0</feature> 
     
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="9080"
                  httpsPort="9443" />

<!-- 	<library id="all">
		<fileset dir="${server.config.dir}/lib/portal" includes="*.jar" />
		<fileset dir="${server.config.dir}/lib/db" includes="*.jar" />
		<fileset dir="${server.config.dir}/lib/mail" includes="*.jar" />
	</library> -->

 	<webApplication id="Liferay" name="Liferay" location="${server.config.dir}/apps/liferay" context-root="/">
<!--		<classloader commonLibraryRef="all" />	-->	
	</webApplication>  

	<!--  <webApplication id="liferay" context-root="/" location="${server.config.dir}/apps/liferay.war" name="liferay" type="war">
    <classloader commonLibraryRef="all"/> -->
    </webApplication> -->
		
	
</server>